<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="3RVXGaiden"
    Language="1033"
    Version="$(var.ProductVersion)"
    Manufacturer="ShinMikite"
    UpgradeCode="BFA0BA33-F9A2-49DE-BE91-F729D39F7D24">

    <Package
      InstallerVersion="200"
      Compressed="yes"
      InstallScope="perMachine" />

    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="Installer" Level="1">
      <ComponentGroupRef Id="3RVXGaidenComponents" />
      <ComponentRef Id="ApplicationShortcut"/>
    </Feature>

    <!-- Installation Directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="3RVXGaiden"/>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="3RVXGaiden"/>
      </Directory>
    </Directory>

    <!-- Start menu entries -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="3RVXGaiden"
                  Description="Skinnable volume controller and OSD"
                  Target="[INSTALLFOLDER]3RVX.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <Shortcut Id="SettingsStartMenuShortcut"
                  Name="Settings"
                  Description="3RVXGaiden Settings Editor"
                  Target="[INSTALLFOLDER]Settings.exe"
                  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>

        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU"
                       Key="Software\3RVXGaiden"
                       Name="installed"
                       Type="integer"
                       Value="1"
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <Icon Id="icon.ico" SourceFile="../Assets/AppIcons/Main/main_icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="../Assets/InstallBanner.jpg" />
    <WixVariable Id="WixUIDialogBmp" Value="../Assets/InstallSplash.jpg" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <Publish
       Dialog="WelcomeDlg"
       Control="Next"
       Event="NewDialog"
       Value="InstallDirDlg"
       Order="2">
        1
      </Publish>

      <Publish
        Dialog="InstallDirDlg"
        Control="Back"
        Event="NewDialog"
        Value="WelcomeDlg"
        Order="2">
        1
      </Publish>
    </UI>

  </Product>
</Wix>